{% extends "base_admin.html" %}

{% block title %}Админка{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-9">
      <h2 class="mb-3" style="color: #ff4c4c;">Добро пожаловать в админскую панель, {{ user.nickname }}!</h2>
      <p>Здесь вы можете управлять пользователями, серверами и системой.</p>
    </div>
  </div>
    <div class="row">
    <!-- Левая панель -->
    <div class="col-md-3">
      <div class="list-group">
        <a href="/servers_info" class="list-group-item list-group-item-action bg-dark text-white {% if active_page == 'servers_info' %}active{% endif %}">
          Управление серверами
        </a>
        <a href="/users_info" class="list-group-item list-group-item-action bg-dark text-white {% if active_page == 'users_info' %}active{% endif %}">
          Управление пользователями
        </a>
        <a href="/system_info" class="list-group-item list-group-item-action bg-dark text-white {% if active_page == 'system_info' %}active{% endif %}">
          Общая информация о системе
        </a>
      </div>
    </div>
</div>
{% endblock %}
