{% extends "base.html" %}
{% block title %}Главная — RedCase{% endblock %}

{% block content %}
<h1>Welcome, {{ user.nickname }}!</h1>
<p>RedCase — это современная обучающая платформа нового поколения, созданная для всех, кто хочет развивать практические навыки в области кибербезопасности. Мы предлагаем уникальное пространство для безопасной, легальной и увлекательной практики в стиле CTF (Capture The Flag), максимально приближенной к реалиям настоящей ИБ-индустрии. <br><br>

    На платформе доступны десятки виртуальных машин и заданий, охватывающих все ключевые направления offensive и defensive security: от эксплуатации веб-уязвимостей и анализа бинарных файлов до криптографии, реверс-инжиниринга, пентеста и OSINT. Пользователи могут в любое время подключиться к инфраструктуре через VPN и начать работу с уязвимыми системами, моделирующими реальные ИТ-среды. <br><br>

    Каждое задание сопровождается балльной системой, позволяющей накапливать очки, повышать свой ранг и подниматься в общемировом рейтинге. RedCase превращает обучение в геймифицированный процесс, стимулируя развитие навыков через челленджи, достижение целей и соревновательный дух. <br><br>

    Мы стремимся сделать обучение кибербезопасности доступным, интересным и максимально практикоориентированным. Здесь нет скучных лекций — только реальная практика, реальные сценарии и реальные навыки. Благодаря нашему подходу, пользователи платформы получают подготовку, максимально близкую к профессиональной работе специалистов по информационной безопасности. <br><br>

    RedCase — это твоя стартовая точка на пути к карьере этичного хакера, пентестера или аналитика ИБ. Неважно, новичок ты или опытный специалист — платформа адаптируется под твой уровень и помогает расти. <br><br></p>
{% endblock %}